@{
    ViewData["Title"] = "Delete";
}

@model MovieResponse
<h1>Confirm Deletion</h1>
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a class="btn btn-primary" asp-controller="Home" asp-action="ViewMovies">Cancel</a>
     <input type="hidden" asp-for="MovieID  "/>
</form>